extends layout
head
body
  block content
    h1 Crime Data

    #crimes
      div
        a(href="/admincrimedata/addnewcrimepage")= "Add New Crime"
        table 
          thead
            tr
              td Type
              td Year
              td Month
              td Address
            tr 
            - each crime in crimes
              tr
                td= crime.type
                td= crime.year
                td= crime.month
                td= crime.address
                  div
                    form(method="post", action="/admincrimedata/delete")
                      input(name="_id", type="hidden", value=crime._id.toHexString())
                      input(id="edit", value="x", type="submit" style="float: right")


