doctype html
html
  head
    a.twitter-share-button(href='https://twitter.com/share', {count}='', data-url='http://crimes-golds.rhcloud.com/gmaps', data-text="Check out Goldman Sachs' App!", data-size='large', data-hashtags='yeee310project') Tweet
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title Crimes in Vancouver
    style.
      html, body {
      height: 70%;
      width: 70%;
      margin: 100;
      padding: 10000;
      }
      #map {
      height: 100%; 
      left: 350px; 
      top: 50px;
      border-style: solid;
      border-width: 5px;
      border-radius: 25px;
      }
  body(style='background-image:url(http://guytoyz.com/wp-content/themes/rocketboard-v1-02/images/background/bg-b1.jpg); background-repeat: no-repeat; background-size: 2000px 800px')
    #container
    input(id = "chk1",type="checkbox", name="chk1", onclick='comm();')
    = " Commercial Break and Enter"
    br
    input(id = "chk2", type="checkbox", name="chk2", onclick='misUnder();')
    = " Mischief Under $5000"
    br
    input(id = "chk3", type="checkbox", name="chk3", onclick='misOver();')
    = " Mischief Over $5000"
    br
    input(id = "chk4", type="checkbox", name="chk4", onclick='taUnder();')
    = " Theft From Auto Under $5000"
    br
    input(id = "chk5", type="checkbox", name="chk5", onclick='taOver();')
    = " Theft From Auto Over $5000"
    br     
    input(style="color:white; font-family: Calibri; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: gray; border-style: solid; border-color: black",id = "dAll", type='submit', value= 'Display All', onclick='initMap();')
    br
    #map
    script.
      var latLng = {lat: 49.2827, lng: -123.1207};
      var commArray = JSON.parse('!{comms}');
      var mu5Array = JSON.parse('!{mu5s}');
      var mo5Array = JSON.parse('!{mo5s}');
      var taU5Array = JSON.parse('!{tau5s}');
      var taO5Array = JSON.parse('!{tao5s}');
      var allArray = JSON.parse('!{errthang}');


      function misUnder(){
      var geocoder = new google.maps.Geocoder();
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: latLng
      });
      for(var i = 0; i < 10; i++){
        var addy = mu5Array[i].address + " Vancouver, BC";
        var geoOptions = {
        address: addy
        }
        geocoder.geocode( geoOptions ,addMarkers(mu5Array[i].address, mu5Array[i].type));
      }
      function addMarkers(myTitle, myType){
        return function(results,status){
        if(status == google.maps.GeocoderStatus.OK){
        var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: myTitle,
        icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
        zIndex: i
        });
        var infoWindow0 = new google.maps.InfoWindow({
        content: myTitle + ' ' + '<a href="#" onclick="return twitterButton(\'' + myType + ' ' + 'on ' + myTitle + '\')"><img name="jsbutton" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" width="28" height="28" border="0" alt="javascript button"/></a>'
        });
        marker.addListener('click', function() {
        infoWindow0.open(map,marker);
        });
        }
        else{
        alert(status);
        }
        };
        }
      }

      function misOver(){
      var geocoder = new google.maps.Geocoder();
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: latLng
      });
      for(var i = 0; i < 10; i++){
        var addy = mo5Array[i].address + " Vancouver, BC";
        var geoOptions = {
        address: addy
        }
        geocoder.geocode( geoOptions ,addMarkers(mo5Array[i].address, mo5Array[i].type));
      }
      function addMarkers(myTitle, myType){
        return function(results,status){
        if(status == google.maps.GeocoderStatus.OK){
        var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: myTitle,
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
        zIndex: i
        });
        var infoWindow0 = new google.maps.InfoWindow({
        content: myTitle + ' ' + '<a href="#" onclick="return twitterButton(\'' + myType + ' ' + 'on ' + myTitle + '\')"><img name="jsbutton" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" width="28" height="28" border="0" alt="javascript button"/></a>'
        });
        marker.addListener('click', function() {
        infoWindow0.open(map,marker);
        });
        }
        else{
        alert(status);
        }
        };
        }
      }

      function taUnder(){
      var geocoder = new google.maps.Geocoder();
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: latLng
      });
      for(var i = 0; i < 10; i++){
        var addy = taU5Array[i].address + " Vancouver, BC";
        var geoOptions = {
        address: addy
        }
        geocoder.geocode( geoOptions ,addMarkers(taU5Array[i].address, taU5Array[i].type));
      }
      function addMarkers(myTitle, myType){
        return function(results,status){
        if(status == google.maps.GeocoderStatus.OK){
        var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: myTitle,
        icon: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png',
        zIndex: i
        });
        var infoWindow0 = new google.maps.InfoWindow({
        content: myTitle + ' ' + '<a href="#" onclick="return twitterButton(\'' + myType + ' ' + 'on ' + myTitle + '\')"><img name="jsbutton" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" width="28" height="28" border="0" alt="javascript button"/></a>'
        });
        marker.addListener('click', function() {
        infoWindow0.open(map,marker);
        });
        }
        else{
        alert(status);
        }
        };
        }
      }

      function taOver(){
      var geocoder = new google.maps.Geocoder();
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: latLng
      });
      for(var i = 0; i < 10; i++){
        var addy = taO5Array[i].address + " Vancouver, BC";
        var geoOptions = {
        address: addy
        }
        geocoder.geocode( geoOptions ,addMarkers(taO5Array[i].address, taO5Array[i].type));
      }
      function addMarkers(myTitle, myType){
        return function(results,status){
        if(status == google.maps.GeocoderStatus.OK){
        var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: myTitle,
        zIndex: i
        });
        var infoWindow0 = new google.maps.InfoWindow({
        content: myTitle + ' ' + '<a href="#" onclick="return twitterButton(\'' + myType + ' ' + 'on ' + myTitle + '\')"><img name="jsbutton" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" width="28" height="28" border="0" alt="javascript button"/></a>'
        });
        marker.addListener('click', function() {
        infoWindow0.open(map,marker);
        });
        }
        else{
        alert(status);
        }
        };
        }
      }

      function comm(){
      var geocoder = new google.maps.Geocoder();
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: latLng
      });
      for(var i = 0; i < 10; i++){
        var addy = commArray[i].address + " Vancouver, BC";
        var geoOptions = {
        address: addy
        }
        geocoder.geocode( geoOptions ,addMarkers(commArray[i].address, commArray[i].type));
      }
      function addMarkers(myTitle, myType){
        return function(results,status){
        if(status == google.maps.GeocoderStatus.OK){
        var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: myTitle,
        icon: 'http://maps.google.com/mapfiles/ms/icons/pink-dot.png',
        zIndex: i
        });
        var infoWindow0 = new google.maps.InfoWindow({
        content: myTitle + ' ' + '<a href="#" onclick="return twitterButton(\'' + myType + ' ' + 'on ' + myTitle + '\')"><img name="jsbutton" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" width="28" height="28" border="0" alt="javascript button"/></a>'
        });
        marker.addListener('click', function() {
        infoWindow0.open(map,marker);
        });
        }
        else{
        alert(status);
        }
        };
        }
      }
      function initMap() {
      var geocoder = new google.maps.Geocoder();
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: latLng
      });
      for(var i = 0; i < 2; i++){
        var addy = allArray[i].address + " Vancouver, BC";
        var geoOptions = {
        address: addy
        }
        geocoder.geocode( geoOptions ,addMarkers(allArray[i].address, allArray[i].type));
      }
      for(var i = 2; i < 4; i++){
        var addy = allArray[i].address + " Vancouver, BC";
        var geoOptions = {
        address: addy
        }
        geocoder.geocode( geoOptions ,addMarkers2(allArray[i].address, allArray[i].type));
      }
      for(var i = 4; i < 6; i++){
        var addy = allArray[i].address + " Vancouver, BC";
        var geoOptions = {
        address: addy
        }
        geocoder.geocode( geoOptions ,addMarkers3(allArray[i].address, allArray[i].type));
      }
      for(var i = 6; i < 8; i++){
        var addy = allArray[i].address + " Vancouver, BC";
        var geoOptions = {
        address: addy
        }
        geocoder.geocode( geoOptions ,addMarkers4(allArray[i].address, allArray[i].type));
      }
      for(var i = 8; i < 10; i++){
        var addy = allArray[i].address + " Vancouver, BC";
        var geoOptions = {
        address: addy
        }
        geocoder.geocode( geoOptions ,addMarkers5(allArray[i].address, allArray[i].type));
      }
      function addMarkers(myTitle, myType){
        return function(results,status){
        if(status == google.maps.GeocoderStatus.OK){
        var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: myTitle,
        zIndex: i,
        icon: 'http://maps.google.com/mapfiles/ms/icons/pink-dot.png'
        });
        var infoWindow0 = new google.maps.InfoWindow({
        content: myTitle + ' ' + '<a href="#" onclick="return twitterButton(\'' + myType + ' ' + 'on ' + myTitle + '\')"><img name="jsbutton" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" width="28" height="28" border="0" alt="javascript button"/></a>'
        });
        marker.addListener('click', function() {
        infoWindow0.open(map,marker);
        });
        }
        else{
        alert(status);
        }
        };
        }
        function addMarkers2(myTitle, myType){
        return function(results,status){
        if(status == google.maps.GeocoderStatus.OK){
        var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: myTitle,
        zIndex: i,
        icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
        });
        var infoWindow0 = new google.maps.InfoWindow({
        content: myTitle + ' ' + '<a href="#" onclick="return twitterButton(\'' + myType + ' ' + 'on ' + myTitle + '\')"><img name="jsbutton" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" width="28" height="28" border="0" alt="javascript button"/></a>'
        });
        marker.addListener('click', function() {
        infoWindow0.open(map,marker);
        });
        }
        else{
        alert(status);
        }
        };
        }
        function addMarkers3(myTitle, myType){
        return function(results,status){
        if(status == google.maps.GeocoderStatus.OK){
        var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: myTitle,
        zIndex: i,
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
        });
        var infoWindow0 = new google.maps.InfoWindow({
        content: myTitle + ' ' + '<a href="#" onclick="return twitterButton(\'' + myType + ' ' + 'on ' + myTitle + '\')"><img name="jsbutton" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" width="28" height="28" border="0" alt="javascript button"/></a>'
        });
        marker.addListener('click', function() {
        infoWindow0.open(map,marker);
        });
        }
        else{
        alert(status);
        }
        };
        }
        function addMarkers4(myTitle, myType){
        return function(results,status){
        if(status == google.maps.GeocoderStatus.OK){
        var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: myTitle,
        zIndex: i,
        icon: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
        });
        var infoWindow0 = new google.maps.InfoWindow({
        content: myTitle + ' ' + '<a href="#" onclick="return twitterButton(\'' + myType + ' ' + 'on ' + myTitle + '\')"><img name="jsbutton" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" width="28" height="28" border="0" alt="javascript button"/></a>'
        });
        marker.addListener('click', function() {
        infoWindow0.open(map,marker);
        });
        }
        else{
        alert(status);
        }
        };
        }
        function addMarkers5(myTitle, myType){
        return function(results,status){
        if(status == google.maps.GeocoderStatus.OK){
        var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: myTitle,
        zIndex: i,
        icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
        });
        var infoWindow0 = new google.maps.InfoWindow({
        content: myTitle + ' ' + '<a href="#" onclick="return twitterButton(\'' + myType + ' ' + 'on ' + myTitle + '\')"><img name="jsbutton" src="http://www.siamcomm.com/wp-content/uploads/2011/05/twitter.png" width="28" height="28" border="0" alt="javascript button"/></a>'
        });
        marker.addListener('click', function() {
        infoWindow0.open(map,marker);
        });
        }
        else{
        alert(status);
        }
        };
        }
        }

    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDf66Jl1qUIpgwbjOfOJ1aQoW22z3LqJIA&signed_in=true&callback=initMap')
    button(style="position: absolute; left: 675px; top: 600px; color: white; font-family: Calibri; background-color: gray; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-color: black", onclick="move()") Table View                                
    script.
        function move(){
            if(document.getElementById('chk1').checked){
            window.location.href = '/newpage'
            }
            else if (document.getElementById('chk2').checked){
            window.location.href = '/mu5'
            }
            else if (document.getElementById('chk3').checked){
            window.location.href = '/mo5'
            }
            else if (document.getElementById('chk4').checked){
            window.location.href = 'taU'
            }
            else if (document.getElementById('chk5').checked){
            window.location.href = '/taO'
            }
            else{
            window.location.href = '/dAll'
            }
        }
    button(style="color: white; font-family: Calibri; background-color: gray; position: absolute; right: 10px; top: 0px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-color: black", onclick="move1()") logout
    script.
        function move1(){
            window.location.href = '/user'
        }

    script.
      var twitterHandle = 'sarbbottam';

      function twitterButton(myTitle) {
          window.open('https://twitter.com/share?url='+escape(window.location.href)+'&text='+myTitle + '    ',+ '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
          return false; 
      }

